.navigation_container{
    width: 100%;
    height: 100%;
}

.nav_area {
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100vw;
}

.menus {
    display: flex;
    flex-direction: column;
    list-style: none;
}