@import "src/styles/mixins";

%bg-text {
  position: absolute;
  @include text-h1-background-text();
  transform: rotate(90deg);
  color: var(--color-dark-field-frame);
}

.bg_all {
  @extend %bg-text;
  left: -9vw;
  top: 5vh;
}

.bg_news {
  @extend %bg-text;
  right: 10vw;
  top: 60vh;
}