@import "src/styles/mixins";

.list_container{
    width: 70vw;
    padding: 2vw;
    max-height: 100vh;

    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 5vh;

    overflow-y: scroll;
    @include thin-scrollbar();
}
