.profile_sidebar_active{
  width: 13vw;
  font-family: var(--font-style-open-sans);
  background-color: var(--color-light-white);
  z-index: 1;
  overflow: hidden;
  position: absolute;
  top: 10%;
  left: 85%;
  display: block;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;

  .name_surname{
    font-size: 1vw;
    font-weight: bold;
    text-align: center;
  }

  .email{
    margin-bottom: 1vh;
    font-size: 0.8vw;
    color: var(--color-dark-secondary-text);
    text-align: center;
  }

  .view_profile_button{
    background-color: var(--color-red-regular);
    font-size: 1vw;
    padding: 1vw 1vh 1vw 1vh;
    margin: 1vh auto 1vh auto;
    width: 60%;
    text-align: center;
    color: var(--color-light-white);
  }

  .view_profile_button:hover{
    background-color: var(--color-red-hover);
    cursor: pointer;
  }

  .view_profile_button:focus{
    background-color: var(--color-red-pressed);
  }

  .personal, .change_password, .log-out{
    border-top: 1px solid var(--color-light-lines);
    font-size: 1vw;
    padding: 2vh 1vw 2vh 1vw;
  }
  .personal:hover, .change_password:hover, .log-out:hover{
    background-color: #D721301C;
    color: var(--color-red-regular);
    cursor: pointer;
  }
}

.profile_sidebar_inactive{
  display: none;
}