.content{
  font-family: var(--font-style-open-sans);
  font-weight: bold;
  width: 27vw;
  height: 37.5vh;
  position: relative;

  .group_name{
    background-color: #2f2f2f;
    color: var(--color-light-white);
    padding: 1vh 3vw 1vh 3vw;
    font-size: 1.2vw;
    position: absolute;
  }

  .image{
    width: 27vw;
    height: 37.5vh;
  }

  .down_text{
    padding: 0.5vh 1vw 0.5vh 1vw;
    font-size: 1.5vw;
    background-color: var(--color-light-white);
    width: 27vw;
    position: absolute;
    box-sizing: border-box;
    bottom: 0;
    border: var(--color-light-lines) 1px solid;
  }

  .arrow{
    display: none;
  }

  .arrow path{
    fill: var(--color-red-regular);
  }
}

.content:hover{
  cursor: pointer;
  box-shadow: 0 0 11px rgba(33,33,33,.2);
}

.content:hover .arrow{
  display: block;
  position: absolute;
  bottom: 0;
  right: 0.5vw;
  transform: rotate(180deg);
}