@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Roboto');

:root{
    --font-style-open-sans: "Open Sans";
    --font-style-roboto-condensed: "Roboto Condensed";
    --font-style-roboto: "Roboto";

    --color-red-pressed: #C80515;
    --color-red-regular: #D72130;
    --color-red-regular-transparent: #D721301C;
    --color-red-hover: #E02232;
    --color-red-disabled: #D721301C;

    --color-dark-black: #000;
    --color-dark-text-color: #2B2F43;
    --color-dark-secondary-text: #7F7B7B;
    --color-dark-menu-item: #B2B2B2;
    --color-dark-lable-name: #7F8899;
    --color-dark-field-frame: #d4d9e2;

    --color-light-white: #FFF;
    --color-light-gray: #F8F8F8;
    --color-light-lines: #EDEDED;
    --color-light-field-frame: #CCD3E0;

    --color-others-green: #229D1F;
    --color-others-inactive: #ECFAEA;

    --color-table-header-gray: #F2F2F2;
    --color-table-text-gray: #434C5D;

    --color-hr-light-gray: #F4F5F8;
}


