@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "src/styles/variables.";

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}

h2{
    font-size: 22px;
    font-weight: 300;
}




