.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 55vw;
    gap: 3vh;
    .tab_menu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
    }
    .three_col_container {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 2vw;
        .col_element {
            width: 100%;
        }
    }
}