@import "src/styles/mixins";

.container{
    display: flex;
    width: 100vw;
    height: 100vh;

    .img_container{
        position: relative;

        .img{
            object-fit: cover;
            height: 100%;
            width: 40vw;

            &__darken{
                filter: brightness(70%);
            }
        }

        .logo{
            position: absolute;
            left:0;
            top:0;

            @include flex-center;
            background: var(--color-red-regular);
            width: 18vw;
            height: 10vh;
            font-size: 22px;
            color: white;
        }
    }

    .form_container{
        @include flex-center;
        position: relative;
        width: 60%;

        .controls_container{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 10%;

            display: flex;
            align-items: center;
            gap: 5vw;
            padding: 0 4vw;
            justify-content: right;
        }
    }
}

