.content{

  .lable{
    color: var(--color-dark-lable-name);
    font-family: var(--font-style-roboto);
    font-size: 1vw;
  }

}

li{
  font-family: var(--font-style-open-sans);
}

li:hover{
  background-color: var(--color-red-regular-transparent);
  color: var(--color-red-regular);
}
