@import "../../../Styles/ScssVariables/variables";

.vertical-menu{
  width: 6vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid var(--color-light-lines);

  .vertical-menu-element{
    margin-top: 3vh;
    cursor: pointer;
  }
}

