@import "../../../Styles/ScssVariables/variables";

.header {
  height: 12vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid var(--color-light-lines);

  .logo {
    width: 17.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-red-regular);
    font-family: var(--font-style-open-sans);
    border-right: 1px solid var(--color-light-lines);

    .logo-inscription {
      margin: 0;
      color: var(--color-light-white);
      font-size: 28px;
    }
  }
}

.profile-sector {
  width: 23vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-left: 1px solid var(--color-light-lines);

  .switch {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .switch-image {
      border-radius: 100%;

      .switch-image:hover {
        cursor: pointer;
      }
    }
  }
}

.mini-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 10.5vw;
  cursor: pointer;

  .profile-picture {
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 100%;
  }
}

.profile-info {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-left: 1vw;

  .name-surname-label {
    font-family: var(--font-style-open-sans);
    font-size: 12px;
    font-weight: 600;
    color: var(--color-dark-black);

    .open-profile-menu {
      width:fit-content;
      height:fit-content;
      margin-left: 0.5vw;
    }
  }

  .administrator-label {
    font-family: var(--font-style-open-sans);
    font-size: 8px;
    color: var(--color-dark-menu-item);
  }
}
