.new_article_area{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-light-lines);
  padding: 1vh 7vw 1vh 7vw;
  font-family: var(--font-style-open-sans), sans-serif;

  .section_name{
    color: var(--color-dark-black);
    font-size: 30px;
    font-weight: 600;
  }

  .buttons{
    display: flex;
    flex-direction: row;
    gap: 1vw;
  }
}

.horizontal_menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 2vw 2vh 2vw;

  .left_arrow{
    width: 5vw;
  }

  .section_elements {
    position: relative;
    display: flex;
    overflow-x: hidden;
    padding: 0;
    margin-left: 1vw;
  }

  .horizontal_menu_element{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1vw;
    flex-shrink: 0;
  }

  .right_arrow{
    rotate: 180deg;
    width: 5vw;
  }

  .arrow path{
    fill: var(--color-red-regular);
    cursor: pointer;
  }

  .arrow_disable path{
    fill: var(--color-red-disabled);
    cursor: auto;
  }
}


